.login-page {
    display: flex;
    height: 100vh;
}

.login-container {
    display: flex;
    width: 100%;
}

/* Left Section */
.login-left {
    width: 650px;
    background-color: #e8f5e9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.illustration-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Right Section */
.login-right {
    width: 650px;
    background-color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-title {
    font-size: 2rem;
    font-weight: bold;
    color: #2e7d32;
    margin-bottom: 20px;
}

.login-form {
    width: 80%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.form-input:focus {
    outline: none;
    border-color: #4caf50;
    /* Medium green */
}

.form-button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-button:hover {
    background-color: #388e3c;
    transform: scale(1.02);
}

.form-footer {
    text-align: center;
    font-size: 0.9rem;
    color: #757575;
    margin-top: 10px;
}

.form-footer a {
    color: #4caf50;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}